@model PostView

@{
	Layout = null;
	var replyUrlData = new Dictionary<string, string>()
	{
		{"postId", @Model.Post.Id.ToString()}
	};
}

<div class="post-wrapper" id="@Model.Post.Id">
	<article class="post">
		<a title="Click to reply!" asp-page="ReplyForm" asp-all-route-data="@replyUrlData">
			<h5 class="post-id">@Model.Post.Id</h5>
		</a>

		@if (Model.Post.ReplyTo != null)
		{
			<a href="#@Model.Post.ReplyTo.Id">
				<h6 class="post-date">Reply to @Model.Post.ReplyTo.Id</h6>
			</a>
		}

    	<h6 class="post-date">@Model.Post.CreationDate.ToString("(ddd) dd-MMM-yyyy HH:mm")</h6>
    	<p class="post-content">@Model.Post.Content</p>
    </article>
</div>
